# Default .gitignore for the project.

### IntelliJ ###
.idea/
out/
*.iml
*.ipr
*.iws

### Java ###
*.class
*.log
hs_err_pid*.log
replay_pid*.log

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
._*

### Windows ###
Thumbs.db
Desktop.ini

### SBT ###
dist/
target/
project/target/
project/project/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.ivy2/
.sbt/
.coursier/

### Scala / Metals / Bloop ###
.bloop/
**/.bloop/
project/.bloop/
.bsp/
.metals/
**/metals.sbt
project/metals.sbt

### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
tags
[._]*.un~
.vim

### VS Code ###
.vscode/
*.code-workspace
.history/

### Environment / secrets ###
.env
.env.*
!.env.example

### sbt-scalafix-defaults ###
.scalafix.conf

### sbt-scalafmt-defaults ###
.scalafmt.conf

### project specific ###
src/main/scala/exams/**/*_grades.md
